.contact{
    margin-top: 8vw;
    width:98.5vw;
    display: flex;
    flex-direction: column;
   
    
}

.touch-us{
    display: flex;
    width: 50vw;
    margin-left: 25vw;
    
}

.shy-eng{
    margin-left:12vw;
    margin-top: 2vw;
    color:blanchedalmond;
    font-size: 3vw;

}

.shy-arb{
    margin-left:65vw;
    margin-top: 2vw;
    color:blanchedalmond;
    font-size: 3vw;

}



.eml-eng{
    color: rgb(18, 197, 182); /*dark mode*/
    text-decoration: none;
    margin-left:15vw;
}

.eml-arb{

    color: rgb(18, 197, 182); /*dark mode*/
    text-decoration: none;
    margin-left:60vw;

}

.eml-eng:hover{
    text-decoration: none;
    color: crimson; 

}

.eml-arb:hover{
    text-decoration: none;
    color: crimson; 

}

.get-eng{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    color:white;
    font-weight: bolder;
    margin-left:12vw;
    margin-right:1vw;
    margin-top: 2vw;
    display: flex;
}


.get-arb{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    color:white;
    font-weight: bolder;
    text-align: right;
    margin-left:40vw;
    margin-right:1vw;
    margin-top: 2vw;
    display: flex;
}
 
.get-arb2{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    color:white;
    font-weight: bolder;
    text-align: right;
    margin-left:73vw;
    margin-right:1vw;
    margin-top: 2vw;
    display: flex;
}

.get-arb3{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    color:white;
    font-weight: bolder;
    text-align: right;
    margin-left:76vw;
    margin-right:1vw;
    margin-top: 2vw;
    display: flex;
}


.get-arb4{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    color:white;
    font-weight: bolder;
    
    text-align: right;
    margin-left:74vw;
    margin-right:1vw;
    margin-top: 2vw;
    display: flex;
}
 

.info-eng{

    font-family: 'Alfa Slab One', cursive;
    color: #D4C10D;
    font-size: 5vw;
    margin-top: 2vw;
    margin-left: 11vw;
    display: flex;
}

.info-arb{

    font-family: 'Alfa Slab One', cursive;
    color: #D4C10D;
    font-size: 5vw;
    margin-top: 2vw;
    margin-left: 54vw;
    display: flex;
}


.bar1{
    display: flex; 
}


.bar2{
    display: flex;
    margin-left:11vw;
    margin-right:1vw;
    
}

.bar2-arb{
    display: flex;
    margin-left:60vw;
    margin-right:1vw;
    
    
}


.bar3{
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: -9vw;
    margin-left: 12vw;
}

.bar3-arb{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 9vw;
    background-color: wheat;
}


.information{
    padding: 1vw 1vw;
    border-color: rgba(0,0,0,.1);
    color: #5c5b66;
    font-size: 1vw;
    text-align: center;
    width: 40vw;
    margin-top:1vw;
    border-radius: 0.5vw;
}



.touch{
    padding: 1vw 1vw;
    border-color: rgba(0,0,0,.1);
    color: #5c5b66;
    font-size: 1vw;
    height: 6vw;
    text-align: center;
    width: 40vw;
    margin-top:1vw;
    font-size: 1vw;
    border-radius: 0.5vw;
    
}




/*.sub{
   border-radius: 0.5vw;
    margin-top: 1vw;
    width: 10vw;
    padding: 0.5vw;
    height: 2.8vw;
    margin-left: vw;
    
}*/

.pageclip-form{
 margin-right: 5vw;
}



.pageclip-form__submit{
    margin-left: 25vw;
    border-radius: 0.5vw;
    margin-top: 1vw;
    width: 15vw;
    padding: 0.5vw;
    height: 2.8vw;
    /*background:linear-gradient(
        10deg,
        crimson,
        purple
    
    

    )*/
}





.link{
    font-size: 2.3em;  
}




.fa{
    width:2.9rem;
    margin-top: 0.3vw;
    margin:1vw;
}

.in{
    width:2.9rem;
    margin-top: 0.3vw;
}


.tl{
    width:2.9rem;
    margin-top: 0.3vw;
    margin:1vw;

}

.wp{
    width:3.5rem;
    margin-top: 0.5vw;

    
}





/*@media (max-width:1200px){

    .contact-container{

        margin-left:8vw;
        margin-top: 15vw;
    }


    .info{
   
    font-size: 5.8vw;
  
   }


   .icon2{
    font-size: 9vw;
   }

   .get-container{
       display: flex;
       flex-direction: column;
   }

   .get{

    font-size: 4vw;
    margin-left:20vw;
    margin-right:1vw;

   }
   
   .eml{
       
    display: flex;
    margin-top: vw;
    font-size: 4vw;
    margin-right: 10vw;
       
   }

   .bar1{
    flex-direction: column;
   }

   .bar2{
    display: flex;
    margin-left:25vw;
    margin-right:1vw;

    
  }

   
  .link{
    font-size: 1vw;  
    
    margin: 2vw;
  }




    .fa{
        width:12vw;
        margin-top: 0.3vw;
        margin:1vw;
    }

    .in{
        width:12.5vw;
        margin-top: 1vw;
    }


    .tl{
        width:12vw;
        margin-top: 0.3vw;
        margin:1vw;

    }

    .bar3{

        margin-left: 34vw;
        margin-right: 1vw;
        margin-top: 3vw;
        
    
        
    }

    .information{
        padding: 7vw 7vw;
        font-size: 4vw;
        width: 50vw;
        margin-top:1vw;

    }

    .touch{
        padding: 7vw 7vw;
        height: 6vw;
        text-align: center;
        width: 50vw;
        margin-top:1vw;
        font-size: 4vw;
        border-radius: 0.5vw;

    }

    .button-sub{
        display: flex;
        margin-top: -5vw;
    }

    .pageclip-form__submit{
        display: flex;
        margin-left: 29.5vw;
        justify-content: center;
        align-items: center;
        border-radius: 0.5vw;
        margin-top: 1vw;
        width:25vw;
        padding: 5vw 5vw;
        background-color: whitesmoke;
    }

    .spa{
     display: flex;
     font-size: 3vw;
    }
    
        
}*/



