.end-body{
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: 5vw;
}

.end-logo{
    display: flex;
    width: 4vw;
    margin-top: 1vw;
    margin-right: 23vw;

}

.end-logo-arb{
    display: flex;
    width: 4vw;
    margin-top: 1vw;
    margin-right: 21vw;

}

.end-text{
    color: white;
    margin-top: 2vw;
    display: flex;
    margin-right: 5vw;

}