  .header{
  z-index: 10;
	position: fixed;
  display: flex;
  width: 100%;
  background-color: #143A83;
  border-bottom: white  solid;
 }

  
  .log{
    display: flex;
    width: 4vw;
    margin-left: 10vw;
  }

	

	.b{
		font-size: 2vw;
 /* color: white;*/
    color: #D4C10D;
		margin-left: 7vw;
		font-family: poppins;
		letter-spacing: 0.1em;
    text-decoration: none;
    
	}


 
 .d{
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      border-bottom-width: 1vw black solid ;
      color: white;

   }




    .dropbtn {
      font-size: 2vw;
      font-family: poppins;
      letter-spacing: 0.1em;
      color: #D4C10D;
      text-decoration: none;
      cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        width: 20vw;
        border-radius:0.8vw;
        background-color: #111c5e;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.699);
        z-index: 1;
        
      }
      
      .dropdown-content .li {
        color: black;
        text-decoration: none;
        display: block;
      }

      .li:hover{
        background-color: #D4C10D;

      }

      link{
        text-decoration:none ;
       
      }
      
      
      
      .dropbtn:hover{color: bl;}
      
      .dropdown:hover .dropdown-content {display: block; cursor: pointer;}
      
      

	

	.b:hover{
		text-decoration: none;
    color: black;
	}

  .Quote{
    font-size: 2vw;
    color: white;
    margin-left: 12vw;
    margin-top: -25vw;
    animation: fadein 4s;

  }


  .english{
    width: 5vw;
    margin-left: 1vw;
    cursor: pointer;
  }

  .arab{
    width:4vw;
    cursor: pointer;
  }
 
 


	






